.tyfus .row {
    width: 100%;
}

ul {
    margin: 0 auto;
}

ul li {
    padding: 0px 10px;
}

.wrapper {
    width: 100%;
    background-color: rgb(5, 36, 83);
}

.row {
    margin: 0;
}

.btn {
    margin: 5px;
}
.btn a {
	text-decoration: none;
	color: white;
}
.btn a:hover {
	text-decoration: none;
	color: white;
}
#importanto {
    background-color: rgb(237, 255, 244) !important;
    color: rgb(5, 36, 83);
}
.nav-link:hover{
    color: rgb(237, 255, 244);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


@media (min-width: 600px) {
   .logo {
        width: 25%;
        height: 10%;
    } 
}

@media (max-width: 599px) {
   .logo {
        width: 40%;
        height: 10%;
    }  
}

.nav-link {
    color: white;
    font-family: 'VT323', monospace;
    font-size: 25px;
}

#bubble {
    margin-top: 5%;
    font-family: 'VT323', monospace;
}
.speech-bubble-ds {
    background: white;
    border: 1px solid #a7a7a7;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.8em;
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 650px;
    padding: 15px;
    position: relative;
}

.speech-bubble-ds p {
    text-align: center;
    margin-bottom: 10px;
}
.speech-bubble-ds p:last-of-type {
    margin-bottom: 0;
}

.speech-bubble-ds-arrow {
    border-left: 21px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, 0.2);
    bottom: -25px;
    position: absolute;
    right: 350px;
}
.speech-bubble-ds-arrow::before {
    border-left: 23px solid transparent;
    border-top: 23px solid #a7a7a7;
    bottom: 2px;
    content: "";
    position: absolute;
    right: 5px;
}
.speech-bubble-ds-arrow::after {
    border-left: 21px solid transparent;
    border-top: 21px solid white;
    bottom: 4px;
    content: "";
    position: absolute;
    right: 6px;
}

.verteller {
    width: 100%;
    height: 30%;
    max-width: 200px;
}

#loginScreen {
	width: 15%;
	background-color:#3659A0;
	opacity: 0.7;
	padding: 3em;
	border-radius: 8%;
	
}
.d-flex {
	margin-top: 20%;
}

.rekenmachine {
    margin: 0 auto;
}

.knop {
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    margin: 2px;
    cursor: pointer;
}

.textview {
    width: 217px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
}