.tyfus .row {
    width: 100%;
}

.wrapper {
    width: 100%;
    background-color: rgb(5, 36, 83);
}

.btn {
    margin: 5px;
}
.btn a {
	text-decoration: none;
	color: white;
}
.btn a:hover {
	text-decoration: none;
	color: white;
}
#importanto {
    background-color: rgb(237, 255, 244) !important;
    color: rgb(5, 36, 83);
}


@media (min-width: 600px) {
   .logo {
        width: 25%;
        height: 10%;
    } 
}

@media (max-width: 599px) {
   .logo {
        width: 40%;
        height: 10%;
    }  
}

.nav-link {
    color: white;
    font-family: 'VT323', monospace;
    font-size: 25px;
}

#bubble {
    margin-top: 5%;
    font-family: 'VT323', monospace;
}
.speech-bubble-ds {
    background: white;
    border: 1px solid #a7a7a7;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.8em;
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 650px;
    padding: 15px;
    position: relative;
}

.speech-bubble-ds p {
    text-align: center;
    margin-bottom: 10px;
}
.speech-bubble-ds p:last-of-type {
    margin-bottom: 0;
}

.speech-bubble-ds-arrow {
    border-left: 21px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, 0.2);
    bottom: -25px;
    position: absolute;
    right: 350px;
}
.speech-bubble-ds-arrow::before {
    border-left: 23px solid transparent;
    border-top: 23px solid #a7a7a7;
    bottom: 2px;
    content: "";
    position: absolute;
    right: 5px;
}
.speech-bubble-ds-arrow::after {
    border-left: 21px solid transparent;
    border-top: 21px solid white;
    bottom: 4px;
    content: "";
    position: absolute;
    right: 6px;
}

.verteller {
    width: 100%;
    height: 30%;
    max-width: 200px;
}


.d-flex {
	margin-top: 20%;
}

/* Inlogscherm */
.progress-bar {
    color: #333;
} 

* {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
    @include box-sizing(border-box);

&:focus {
	z-index: 2;
}
}

body {
	background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
	margin-top: 60%;
}

form[role=login] {
	color: #5d5d5d;
	background-color: rgb(5, 36, 83);
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
form[role=login] img {
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
	}
form[role=login] input,
form[role=login] button {
	font-size: 18px;
	margin: 16px 0;
}
form[role=login] > div {
	text-align: center;
}
	
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
.form-links a {
	color: #fff;
}
/* Einde inlogscherm */

/* Aanmeldpagina */

*[role="form"] {
    width: 530px;
    padding: 30px;
    margin: 0 auto;
    background-color: rgb(5, 36, 83);
    border-radius: 0.3em;
}
.form-horizontal {
	justify-content: center;
	margin-top: 20%;
}
.form-horizontal h2 {
	color: white;
	text-align: center;
}
.form-group label {
	color: white;
}
form button {
	background-color: #B5DE80;
}
.form-horizontal button {
	margin-top: 2em;
}
.signingir {
	width: 15%;
	margin-left: 40%;
}