<<<<<<< HEAD
=======
.tyfus .row {
    width: 100%;
}

>>>>>>> 7c98b2c6e13f57df265fff636f101345cf4554af
@media (min-width: 600px) {
   .logo {
        width: 25%;
        height: 10%;
    } 
}

@media (max-width: 599px) {
   .logo {
        width: 40%;
        height: 10%;
    }  
}

.nav-link {
    color: white;
}

.tekstwolk {
    margin-top: 3%; 
    background-image: url(../img/tekstwolk_placeholder.png);
    width: 450px;
    height: 191px;
    padding: 20px;
    padding-bottom: 55px;
}

.tekstwolk h1 {
    text-align: center;
}

.verteller {
    width: 100%;
    height: 30%;
    max-width: 200px;
}
<<<<<<< HEAD
#loginScreen {
	width: 15%;
	background-color:#3659A0;
	opacity: 0.7;
	padding: 3em;
	border-radius: 8%;
	
}
.d-flex {
	margin-top: 20%;
}
=======

footer {
    color: white;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
>>>>>>> 7c98b2c6e13f57df265fff636f101345cf4554af
